.container::-webkit-scrollbar {
    width: 7px;
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #888;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body 
{
    display: flex;
    height: 100%;
    margin: 0;
}

.container-xxl
{
    padding-top: 100px;
}

#page-content
{
    padding: 0;
    background-color: transparent;
}
.sidebar {
    background-color: #303030;
    color: white;
    width: 250px;
    min-width: 250px;
    transition: all 0.2s ease-in-out; /* Speed up the transition */
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidebar.collapsed {
    width: 80px;
    min-width: 80px;
}

.sidebar .nav-link {
    margin-top: 5%;
    font-family: "Poppins";
    font-weight: 600;
    white-space: nowrap;
    color: white;
    padding: 15px 22px;
    padding-bottom: 30px;
    display: flex;
    align-items: left;
    transition: padding 0.2s ease-in-out; /* Speed up the transition */
}

.sidebar .nav-link i {
    justify-content: left;
    align-items: left;
    margin-right: 10px;
    font-size: 1.5rem;
}

.sidebar .nav-link span {
    padding-left: 3px;
    font-size: 1.1rem;
}

.sidebar.collapsed .nav-link {
    padding: 15px;
    justify-content: center;
}

.sidebar.collapsed .nav-link span {
    display: none; /* Hide text immediately */
}

.sidebar .nav-link:hover {
    opacity: 1;
    transition: all 0.2s ease;
}

.sidebar ul {
    margin-top: 20px;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 20px;
    background-color: #f8f9fa;
    transition: margin-left 0.2s ease-in-out; /* Speed up the transition */
}

.content.collapsed {
    margin-left: 80px;
}

/* Sidebar Heading */
.sidebar-heading {
    height: 80px;
    font-size: 20pt;
    font-family: 'Poppins';
    font-weight: 600;
    color: #241E20;
    padding: 10px 30px;
    background: linear-gradient(90deg, #157E4A 22%, #137444 100%);
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.2);
}

.sidebar-heading img {
    margin-right: 7px;
}

.sidebar.collapsed .sidebar-heading {
    padding: 10px;
}

.sidebar.collapsed .sidebar-heading img {
    margin-left: 5px;
}

.sidebar.collapsed .sidebar-heading span {
    display: none;
}

.nav {
    flex-grow: 1;
}

.navbar {
    background: linear-gradient(90deg, #157E4A 22%, #137444 100%);
    height: 80px;
    padding-left: 1%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
#sidebarToggle
{
    cursor: pointer;
}


/* Logout Button Styles */
.logout {
    padding: 15px 65px;
    background-color: #383838;
    color: white;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    font-family: "Poppins";
    font-weight: 600;
    transition: all 0.2s ease-in-out; /* Speed up the transition */
    white-space: nowrap;
    cursor: pointer;
}


#logout-btn {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
}


.logout i {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
    font-size: 1.35rem;
}

.sidebar.collapsed .logout {
    padding: 15px;
    justify-content: center;
    align-items: center;
    transition: padding 0.2s ease-in-out; /* Speed up the transition */
}

.sidebar.collapsed .logout span {
    display: none; /* Hide text immediately */
}

.sidebar.collapsed .logout i {
    margin-right: 0;
    font-size: 1.2rem;
}

.logout:hover {
    background-color: #4a4a4a;
}

/* Navbar for Dashboard and Hamburger Icon */
.navbar-toggler {
    border: none; /* Remove border */
    background: transparent;
    color: white;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}

.navbar-toggler-icon {
    content: '\2630';
    font-size: 24px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-toggler, select {
    border: none !important;
    outline: none !important;
}

.sidebarToggle2 {
    border: none; /* Remove border */
    background: transparent;
    color: white;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}

.navbar-light .sidebarToggle2 {
    border-color: transparent;
}

.sidebarToggle2, select {
    border: none !important;
    outline: none !important;
}

#sidenav-heading-text, .navbar-brand
{
    cursor: default;
}
.navbar-brand
{
    font-family: 'Poppins';
}

#offcanvasExample
{
    width: 300px;
    max-width: 100%;
}
#offcanvasExample .offcanvas-header
{
    border-bottom: 1px solid rgba(59, 59, 59, 0.7);
}
#offcanvasExample .offcanvas-title
{
    margin-left: 20px;
    font-size: 20pt;
    font-family: 'Poppins';
    font-weight: 600;
    color: #241E20;
}


#offcanvas-nav .nav-link i
{
    color: #424242;
    font-size: 14pt;
}
#offcanvas-nav #nav-text
{
    color: #424242;
}

#offcanvas-nav .nav-item .nav-link {
    font-size: 17px !important;
    padding: 17px 20px !important;
}


.bi
{
    font-size: 22pt;
}

.nav-item:hover{
    cursor: pointer;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.nav-item:hover .nav-link i, 
.nav-item:hover .nav-link span {
    color: black;
}

.nav-item:hover .nav-link
{
    padding-left: 25px;
}
.navbar-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


#registered-total, #pending-member-total, #active-member-total
{
    border: 1px solid #CECDCD;
    background-color: transparent;
    border-radius: 38px;
    padding: 7% 8%;
    text-align: center;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#analytics-loan, #analytics-membership
{
    height: 400px;
    border-radius: 38px;
    padding: 7% 8%;  
    border: 1px solid #CECDCD;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
#total-data-text
{
    font-size: 50px;
}
#data-section-subheader
{
    font-size: 18px;
    font-weight: 700;
}

#data-analytics-section
{
    height: 500px;
    padding-left: 1%;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        height: auto !important;
        overflow: auto;
    }
    .container-xxl
    {
        padding-top: 20px!important;
    }
    .content {
        overflow: auto !important;
    }
    #side-navbar {
        background: linear-gradient(90deg, #157E4A 22%, #137444 100%);
        height: 80px;
        padding-left: 1%;
        position: sticky; 
        top: 0;
        z-index: 999;
        transition: box-shadow 0.3s ease-in-out;
    }
    .sidebar {
        width: 80px;
        min-width: 80px;
    }
    .sidebar.collapsed {
        height: 100vh;
        overflow: hidden!important;
    }

    .sidebar ul li {
        margin-left: 5px;
    }

    .content {
        margin-left: 80px;
        height: 100vh;
        overflow: hidden;
    }

    .logout span {
        display: none;
    }

    #sidebarToggle {
        display: none !important;
    }

    .navbar-brand {
        text-align: left;
        margin-left: 5%;
    }
    
    table th, table td {
        padding: 8px;
    }

    .table-responsive {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on mobile devices */
    }
}


@media (max-width: 576px) {
    .navbar-brand
    {
        font-size: 18px;
    }

}

@media (max-width: 425px) 
{
    #total-data-text
    {
        font-size: 15px!important;
    }
    #data-section-subheader
    {
        font-size: 8px!important;
        font-weight: 700;
    }
    .navbar
    {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    }
    #navbar-logo
    {
        width: 10px;
        height: 10px;
        display: block!important;
        margin-left: 5%;
        margin-right: -6px!important;
    }
    .navbar h1
    {
        font-size: 0.878rem!important;
    }

}


@media (max-width: 375px) {
    #sidebar {
        display: none;
    }
    .container-xxl
    {
        padding-top: 10px;
    }

    #page-content 
    {
        width: 100%;
        margin-left: 0;
    }
    #loan-type
    {
        margin-top: 2%!important;
    }

    #side-navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    .navbar-toggler {
        order: 1;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        gap: 10px;
        order: 1;
    }

}

@media (max-width: 320px)
{
    #registered-total, #pending-member-total, #active-member-total
    {
        height: 90px;
        width: 150px;
        padding: 5% 8%;
        border-radius: 15px;
        margin-left: -8px;
    }
    #pending-member-total
    {
        word-break: break-word;
    }
    #total-data-text
    {
        font-size: 15px!important;
    }
    #data-section-subheader
    {
        font-size: 8px!important;
        font-weight: 700;
    }
}