body
{
    overflow-y: scroll;
    background-color: #303030;
    font-family: 'Public Sans';
    padding: 0;
    margin: 0;
    height: 100%;
    width: 99%;
}

.approval-body
{
    border: 1px solid #C1C1C1;
    width: 94%;
    height: auto;
    background-color: white;
    padding: 1% 2% 0% 2%;
    margin-top: 1%;
    border-radius: 15px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.approval-body input[type=text]:focus
{
    border: 1px solid #616161;
    transition: all 0.1s ease-in-out;
}

.approval-body img
{
    width: 80px;
    height: 78px;
    padding-left: 10px;
    display: inline-flex;
}
.approval-body h1
{
    display: inline-flex;
    margin-right: auto;
    font-family: Impact;
    margin-left: 1%;
}
.approval-form
{
    padding: 2% 10% 0% 12%;
}
.section-form-header
{
    width: 100%;
    text-align: center;
}
#section-form-subheader
{
    font-size: 16px;
    font-weight: 400;
}

.upper-half-section
{
    width: 100%;
    display: grid;
    grid-template-columns: 78% 35%;
    margin-left: -3%;
}
.upper-half-left-section
{
    height: 100%;
    padding-left: 2%;
    
}



.section1-approval-form
{
    width: 100%;
    padding: 1% 3%;
    margin-left: -3%;
    margin-top: -3%;
}
.approval-form p 
{
    font-weight: 600;
}
.ipt-account-name
{
    width: 100%;
    padding-top: -1%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 0.5%;
}
.ipt-account-name p 
{
    text-align: right;
    padding-right: 5%;
}
#example-input
{
    text-align: center;
    margin-left: 0;
    font-size: 13px;
    color: #3F3F3F;
    margin-top: 5px;
}

#SuffixName
{
    width: 54%;
}

.account-name-header
{
    margin-left: 0.4%;
}
.ipt-account-name input[type=text]
{
    border: 1px solid #9C9E9F;
    padding: 9px 12px 9px 5px;
    font-family: "Arial","Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 2%;
    margin-right: 1%;
    text-align: center;
}

.id_email_type_detail-row
{
    display: grid;
    grid-template-columns: 28% 36% 34%;
}
.id_email_type_detail-row div
{
    display: flexbox;
    padding-left: 2%;
}
.id_email_type_detail-row div p
{
    display: inline-flex;
}
.id_email_type_detail-row div input[type=text]
{
    border: 1px solid #9C9E9F;
    padding: 18px 7px 18px 9px;
    font-family: "Arial","Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
}


.application-details
{
    width: 98%;
    padding: 3% 3% 3% 4%;
    margin-left: -3%;
}
.application-details .application-details-columns
{
    display: grid;
    grid-template-columns: 28% 36% 33%;
}
#padding-start-column, #padding-end-column
{
    padding-left: 1%;
}
#padding-center-column
{
    padding-left: 10%;
}
.application-details input[type="text"]
{
    border: 1px solid #9C9E9F;
    padding: 16px 3px 16px 12px;
    font-family: "Arial","Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 1.5%;
    margin-left: 2%;
}
.application-details .section-form-header p
{
    text-align: left;
    padding-left: 17%;
    padding-top: 1%;
}
#loan-purpose-text
{
    margin-left: -5%;
    border: 1px solid #9C9E9F;
    width: 95%;
    height: 100px;
    padding: 5px 15px 15px 15px;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}
#loan-purpose-text:focus
{
    border-radius: 8px;
    border: 1px solid #616161;
    transition: all 0.1s ease-in-out;
}


#acc-id-text,
#email-text,
#type-textbox,
#loan-term-textbox, 
#manner-of-payment-textbox, 
#loan-ammount-textbox, 
#date-text,
#application-id-text,
#loan-type-text,
#loan-balance-text,
#interest-on-loan-textbox, 
#fines-textbox,
#past-due-interest-textbox,
#type-application-textbox
{
    height: 30px;
}
#email-text
{
    width: 90%;
}
#loan-purpose-text
{
    font-size: 16px;
    font-family: "Public Sans";
    width: 58%;
    height: 100px;
}


.section2-approval-form
{
    width: 100%;
    padding: 20% 5% 3% 1%;
    display: grid;
    grid-template-columns: 100%;
    margin-left: -5%;
}
.section2-approval-form div
{
    justify-content: left;
    text-align: left;
    padding-left: 5%;
}
.section2-approval-form p
{
    margin-left: 20%;
}
.section2-approval-form input[type="text"], #OutstandingLoanType
{
    border: 1px solid #9C9E9F;
    padding: 16px 7px 16px 9px;
    font-family: "Arial","Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    margin-left: 20%;
    margin-top: 1%;
}
#OutstandingLoanType
{
    border: 1px solid #9C9E9F;
    font-size: 14px;
    width: 56%;
    padding: 8px 7px 8px 9px;
    margin-top: 2.3%;

    border-radius: 3px;
}


.section3-approval-form
{
    width: 100%;
    padding: 3% 3% 3% 1%;
    margin-top: 2%;
    margin-left: -3%;
    border-top: 1px dotted #616161;
}

.section3-approval-form-grid
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 2rem;
    padding-top: 2%;
}
.for-approval-section-column1 div
{
    display: flex;
    padding: 1% 3% 1% 0;
    justify-content: flex-end;
}

#for-approval-section-loan-type-ipt
{
    width: 100%;
    padding-right: 0%;
}
#for-approval-section-loan-type-ipt select
{
    font-size: 14px;
    width: 58%;
    padding-right: 1px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 2.3%;
}

.for-approval-section-column1 input[type=text]
{
    height: 28px;
    border: 1px solid #9C9E9F;
    padding: 16px 7px 16px 9px;
    font-family: "Arial","Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 2%;
    margin-left: 2%;
}
#loan_amount_text, #loan_term_text
{
    margin-top: 2.4%;
}
#LoanType
{
    height: 70%;
    width: 50%;
    margin-top: 3%;
    margin-left: 3%;
    padding: 3% 10% 3% 2%;
    line-height: 25px;
    border: 1px solid #9C9E9F;
    border-radius: 3px;
}

.for-approval-section-column2
{
    padding-left: 10%;
}
.for-approval-section-column2 textarea
{
    border: 1px solid #9C9E9F;
    margin-top: -4%;
    width: 95%;
    height: 100px;
    padding: 5px 15px 15px 15px;
    border-radius: 8px;
    outline: none;
    transition: all 0.1s ease-in-out;
}
.for-approval-section-column2 textarea:focus
{
    border-radius: 8px;
    border: 1px solid #616161;
    transition: all 0.1s ease-in-out;
}
.for-approval-section-column3
{
    padding-left: 19%;
    padding-top: 10%;
}
input[type="radio"]
{
    width: 20px;
    height: 20px;
    display: inline-flex;
}
input[type="radio"]:hover
{
    cursor: pointer;
}

#approved-form
{
    border-top: 1px dotted #616161;
    padding-top: 3%;
    margin-top: 5%;
}




.section4-approval-form
{
    width: 100%;
    padding: 1% 3% 1% 1%;
    margin-left: -2.3%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.section4-approval-form div
{
    padding: 5% 3% 1% 1%;
}
input[type="submit"]
{
    cursor: pointer;
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 14px;
    color: white;
    border: 1px solid #18A64F;
    background-color: #085A3E;
    padding: 2% 5%;
    border-radius: 5px;
    margin-left: 5%;
}
input[name="cancel-btn"]
{
    cursor: pointer;
    font-family: 'Public Sans';
    font-weight: 500;
    font-size: 14px;
    color: white;
    border: 1px solid #EC1E25;
    background-color: #EC1E25;
    padding: 2% 5%;
    border-radius: 5px;
}
.section4-approval-form #left
{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: right;
    padding-right: 5%;
}
.section4-approval-form #right
{
    padding-left: 5%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: right;
}

