
body
{
    background-image: url("../Resources/website-bg-body.png");
    background-size: cover;
    background-attachment: fixed;
}
#registration-input-section
{
    background-color: white;
    margin: auto;
    left: 50%;
    border-top: 13px solid #18A64F;
    border-left: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    width: 73%;
    height: auto;
    /*
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2%;*/
    margin-top: 2.3%;
    padding: 2px 1px 2% 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
#registration-input-section img 
{
    margin-top: 7px;
    margin-left: 10px;
    height: 75%;
    width: 15%;
}
#registration-input-section ul
{
    list-style-type: none;
    width: 50%;
    text-align: center;
    margin-left: -3%;
}
.sub-header
{
    margin-top: -4%;
    font-weight: 500;
}
#registration-input-section div, p, h3
{
    font-family: "Lato", "Poppins";
}

.title-logo-header
{
    text-align: center;
    font-family: "Lato", "Poppins";
    height: 150px;
    width: 100%; 
}
.title-logo-header h1
{
    font-size: 50px;
    margin-top: 14px;
}
.title-logo-header div
{
    padding-left: 13%;
    display: inline-flex;
}

.title-logo-header1
{
    text-align: center;
    font-family: "Lato", "Poppins";
    height: 150px;
    width: 100%; 
    padding-bottom: 3%;
}
.title-logo-header1 h1
{
    font-size: 50px;
    margin-top: 28px;
}
.title-logo-header1 div
{
    padding-left: 13%;
    display: inline-flex;
}
.title-logo-header1 ul li
{
    width: 120%;
}




.ipt-account-name
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.alt-input-section
{
    display: grid;
    grid-template-columns: 62% 38%;
}
.alt-input-section p
{
    font-weight: 700;
}
#alt-input-section1
{

    padding-right: 1%;
    border-right: 1.5px solid #9C9E9F;
}
#alt-input-section1, #alt-input-section2
{
    padding-left: 2%;
    padding-bottom: 2%;
}
#alt-input-section2
{
    padding-left: 15%;
}





.alt-margin-spacing
{
    padding-left: 1%;
}
.alt-grid-column
{
    padding-top: 2%;
    display: grid;
    grid-template-columns: 50% 35% 15%;
}
.alt-grid-column2
{
    padding-top: 1%;
    display: grid;
    grid-template-columns: 100%;
}
.alt-grid-column3
{
    padding-top: 1%;
    display: grid;
    grid-template-columns: 28% 30% 18% 23%; 
}
#civil-status
{
    padding-top: 7.3%;
}
#occupation-txt
{
    margin-top: -2%;
}
#educ-container
{
    margin-top: 1%;
}
.educ-grid-column
{
    margin-left: 3%;
    padding-top: 2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.educ-grid-column label
{
    margin-left: 2%;
}
#educ-attainment-subheader
{
    margin-left: 2%;
}
input[type=text], select 
{
    border: 1px solid #9C9E9F;
    padding: 9px 7px 9px 9px;
    font-family: "Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
}
input[type=text]:focus
{
    border: 1px solid #616161;
    transition: all 0.1s ease-in-out;
}
input[type=password], select 
{
    border: 1px solid #9C9E9F;
    padding: 9px 7px 9px 9px;
    font-family: "Lato", "Poppins";
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    outline: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
}
input[type=password]:focus
{
    border: 1px solid #616161;
    transition: all 0.1s ease-in-out;
}

.chk-password
{
    display: grid;
    width: 79%;
    padding: 7px 3px 2px 2px;
    grid-template-columns: 59% 39%;
}
#chk-flex
{
    display: flex;
    justify-content: right;
    align-items: center;
}
#password-match
{
    text-align: right;
}
input[type=checkbox]
{
    outline: #757575;
    display: inline-flex;
    height: 18px;
    width: 18px;
}
#span-password-text
{
    color: #585858;
    margin-top: 3.5px;
    font-size: 14px;
}
#example-input
{
    font-size: 12px;
    color: #757575;
}
#address
{
    width: 98%;
}
#ContactNo
{
    width: 94%;
}
#Email
{
    width: 80%;
}
#PasswordText, #CPasswordText
{
    width: 80%;
}
#place-of-birth
{
    width: 87%;
}
#occupation
{
    width: 85%;
}
#CivilStatus
{
    padding-right: 10%;
}
.font-face
{
    font-family: "Lato", "Poppins";
}

.educ-header-title
{
    display: flex;
    width: 100%;
    text-align: left;
    padding-bottom: 1%;
}
.occu
{
    display: inline-flex;
}
.btn-actions
{
    width: 80%;
    padding-top: 3%;
    display: grid;
    grid-template-columns: 30% 70%;
}
#submit-btn
{
    display: flex;
    justify-content: right;
    align-items: center;
}
input[type=submit]
{
    font-family: "Poppins";
    color: white;
    border-radius: 4px;
    border: 1px solid #18984F;
    outline: none;
    background-color:#18A64F;
    font-size: 16px;
    /*margin-top: 20%;*/
    padding: 12px 25px 12px 25px;
    transition: all 0.1s ease-in-out;
    margin-top: -1px;
}
input[type=submit]:hover
{
    background-color: #188C4F;
}

.cancel-btn
{
    margin-left: 1%;
}
.cancel-anchor-link
{
    display: flex;
    font-family: "Poppins";
    text-decoration: none;
    background-color: #ECADAD;
    height: 20px;
    width: 90px;
    padding-left: 30px;
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.cancel-anchor-link span
{
    color: #C80000;
}
.cancel-anchor-link:hover
{
    background-color: #E89898;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    opacity: 1;
    padding-left: 37px;
    transition: all 0.2s ease-in-out;
}
.cancel-anchor-link i
{
    position: absolute;
    margin-left: -25px;
    margin-top: 2px;
    display: inline-block;
    color: #C80000;
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.3s ease-in-out;
}
.cancel-anchor-link:hover i
{
    transform: translateX(0);
    opacity: 1;
    
    transition: all 0.3s ease-in-out;
}



#edit-input-section
{
    background-color: white;
    margin: auto;
    left: 50%;
    border-top: 15px solid #18A64F;
    border-left: 1px solid #ACACAC;
    border-right: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    width: 810px;
    height: auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 2%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
#edit-input-section ul
{
    list-style-type: none;
    width: 80%;
    text-align: center;
    margin-left: -10%;
}
#Date-Time-txt
{
    color: #181818;
    font-family: "Arial";
    font-weight: 400;
    font-size: 14px;
}
#AccountID
{
    width: 15%;
}
.acc-status
{
    text-align: left;
    padding-right: 5%;
}
.read-only-ipt
{
    display: grid;
    grid-template-columns: 75% 25%;
}
.account-date-time
{
    text-align: left;
    width: 80%;
    padding-bottom: 5%;
}
#approval-status-text
{
    display: hidden;
}
#edit-input-section div, p, h3
{
    font-family: "Lato", "Poppins";
}
@media screen and (max-width: 1400px){

    .alt-input-section
    {
        padding-right: 1%;
        display: grid;
        grid-template-columns: 100%;
    }
    #alt-input-section1
    {
        border: none;
        padding-top: 5%;
    }
    #alt-input-section2
    {
        padding-top: 5%;
    }

}
@media screen and (max-width: 1140px)
{
    #alt-input-section1
    {
        padding-left: -1%;
    }
    .ipt-account-name
    {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #LastName, #FirstName, #MiddleName, #SuffixName
    {
        width: 90%;
        margin-left: 5%;
    }
    #example-input
    {
        margin-left: 6%;
    }
}
@media screen and (max-width: 600px)
{
    #registration-input-section img 
    {
        margin-top: 7%;
        margin-left: -18px;
        height: 90px;
        width: 30%;
    }
    #registration-input-section
    {
        padding: 0 8%;
    }
    #registration-input-section ul
    {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 4%;
        margin-left: -10%;
    }
    .sub-header
    {
        font-size: 10px;
    }
    #alt-input-section1
    {
        padding-left: -1%;
    }
    .title-logo-header
    {
        width: 100%;
        height: 100px;
    }
    .title-logo-header div
    {
        padding-left: 1%;
    }
    .title-logo-header h1
    {
        font-size: 28px;
    }
    .title-logo-header li, img
    {
        width: 230px;
    }
    .ipt-account-name
    {
        display: grid;
        grid-template-columns: 100%;
    }
    .alt-grid-column
    {
        padding-top: 2%;
        display: grid;
        grid-template-columns: 100%;
    }
    .alt-grid-column3
    {
        padding-top: 8%;
        grid-template-columns: 50% 50%;
    }
    .educ-grid-column
    {
        padding-top: 10%;
        grid-template-columns: 50% 50%;
    }
}