
.login-body {
    height: 100vh;
    background-color: transparent; /* Set to transparent */
}

.login-input {
    padding: 45px 35px 70px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #D6D5D6;
    text-align: center;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
}

#validationServerUsernameFeedback{
    display: none;
    margin-top: 10px;
}
.input-invalid::placeholder {
    color: red; /* Change placeholder text color to red */
    opacity: 1; /* Make it fully opaque */
}

img {
    height: 100px;
    width: 100px;
    margin-bottom: 4%;
}

/* Form Styling */
#floatingInput, #floatingPassword {
    border: 1px solid #ACACAC;
    border-radius: 7px;
    background-color: transparent;
    padding: 14px 10px;
    font-size: 0.958rem;
}

#login-sub-header {
    font-size: 9.5pt;
    margin-bottom: 18%;
}
#text-input
{
    text-align: left;
}
#text-input label
{
    margin-bottom: 1.2%;
    margin-left: 0.5%;
    font-size: 0.969rem;
}

#submitbtn {
    color: white;
    height: 4.7vh;
    margin-top: 2%;
    width: 99%;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

#register-now
{
    font-size: 10pt;    
}





/* Responsive Adjustments */
@media screen and (max-width: 1024px) {
    .login-input {
        width: 50vh;
    }
}

@media screen and (max-width: 768px) {
    .login-input {
        padding: 30px;
    }
}

@media screen and (max-width: 450px) {
    body
    {
        overflow: hidden!important;
        margin: 0!important;
        padding: 0!important;
    }
    .login-input {
        width: 40vh;
        padding: 10px;
        box-shadow: none;
        border: none;
        margin-top: -5%;
    }
    #submitbtn
    {
        width: 100%;
    }
    
}

@media screen and (max-width: 375px) {
    .login-input h2
    {
        font-size: 1.52rem;
    }
    .login-sub-header
    {
        font-size: 0.22rem!important;
    }
}
@media screen and (max-width: 320px){
    .login-input
    {
        margin-left: 10px;
    }
    #submitbtn
    {
        width: 95%!important;
        font-size: 0.86rem;
    }
}
