/* Resetting margin and padding */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #303030;;
}

.navbar-custom {
    width: 100%;
    background: linear-gradient(90deg, #157E4A 22%, #137444 100%);
    padding: 4px;
    padding-left: 10px;
    box-sizing: border-box;
}

.navbar-brand {
    color: white;
    font-size: 1.5rem;
}

.logout-btn {
    color: white;
    background-color: #ff4c4c;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.content {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.logout {
    padding: 15px 65px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    font-family: "Poppins";
    font-weight: 600;
    transition: all 0.2s ease-in-out; /* Speed up the transition */
    white-space: nowrap;
    cursor: pointer;
}


#logout-btn {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
}


.logout i {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: white;
}

#main-content
{
    color: black;
}

#sub-content {
    margin-left: 15%;
    border-radius: 8px;
    width: 70%;
    background-color: white;
    height: 400px; /* Fixed height */
    max-height: 800px; /* Max height if needed */
    overflow-y: auto; /* Scroll when content exceeds height */
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    padding: 15px;
    background-color: #f4f4f4;
    text-align: center;
}

tbody td {
    padding: 15px;
    text-align: center;
    padding-top: 12px;
}

tbody tr:first-child td {
    padding-top: 15px;
}

#action
{
    background-color: #008AD3;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}